.board {
    width: 100%;
    height: calc(90vh);
    overflow: hidden;
    position: relative;
    background: #000;
}

.user {
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 50%;
    border: 0.40vw solid transparent;
    outline: 0.35vw solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8dvw 4dvw rgba(255, 255, 255, 0.2); /* Adjusted box-shadow */
}
